h1, h2, h3, h4, h5, h6, 
.h1, .h2, .h3, .h4, .h5, .h6 {  
  margin-bottom: 0.5rem;  
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  font-weight: 700; 
  line-height: 1.2; 
}
.page-section { 
  padding: 6rem 0;  
  background-color: #141716;
} 
.page-section .page-section-heading { 
  font-size: 2.25rem; 
  line-height: 2rem;  
} 
/*@media (min-width: 992px) { */
/*  .page-section .page-section-heading { */
/*    font-size: 3rem;  */
/*    line-height: 2.5rem;  */
/*  } */
/*} */
.divider-custom { 
  margin: 1.25rem 0 1.5rem; 
  width: 100%;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  
} 
.divider-custom .divider-custom-line {  
  width: 100%;  
  max-width: 7rem;  
  height: 0.25rem;  
  background-color: #e5e7e9; 
  border-radius: 1rem;  
  border-color: #e5e7e9 !important; 
} 
.divider-custom .divider-custom-line:first-child {  
  margin-right: 1rem; 
} 
.divider-custom .divider-custom-line:last-child { 
  margin-left: 1rem;  
} 

.divider-custom.divider-light .divider-custom-line {  
  background-color: #e5e7e9; 
} 
.divider-custom.divider-light .divider-custom-icon {  
  color: #e5e7e9 !important; 
} 
.btn-xl { 
  padding: 1rem 1.75rem;  
  font-size: 1.25rem; 
} 
.btn-social { 
  border-radius: 100%;  
  display: inline-flex; 
  width: 3.25rem; 
  height: 3.25rem;  
  font-size: 1.25rem; 
  justify-content: center;  
  align-items: center;  
} 
.scroll-to-top {  
  z-index: 1042;  
  right: 1rem;  
  bottom: 1rem; 
  display: none;  
} 
.scroll-to-top a {  
  width: 3.5rem;  
  height: 3.5rem; 
  background-color: rgba(33, 37, 41, 0.5);  
  line-height: 3.1rem;  
} 
#mainNav {  
  padding-top: 1rem;  
  padding-bottom: 1rem; 
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 
  font-weight: 700; 
} 
#mainNav .navbar-brand {  
  color: #fff;  
} 
#mainNav .navbar-nav {  
  margin-top: 1rem; 
} 

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus { 
  color: #fff;  
} 
#navbarResponsive .navbar-nav li.nav-item a.nav-link.active {  
  color: #1abc9c; 
} 
#mainNav .navbar-toggler {  
  font-size: 80%; 
  padding: 0.8rem;  
}

.masthead { 
  padding-top: calc(2rem + 74px);
  padding-bottom: 6rem; 
} 
.masthead .masthead-heading { 
  font-size: 2.75rem; 
  line-height: 2.75rem; 
} 
.masthead .masthead-subheading {  
  font-size: 1.25rem; 
} 
.masthead .masthead-avatar {  
  width: 15rem; 
} 
/*@media (min-width: 992px) { */
/*  .masthead {*/
/*    padding-top: 10px;*/
/*    !*padding-top: calc(2rem + 104px);*!*/
/*    padding-bottom: 6rem; */
/*  } */
/*  .masthead .masthead-heading { */
/*    font-size: 4rem;  */
/*    line-height: 3.5rem;  */
/*  } */
/*  .masthead .masthead-subheading {  */
/*    font-size: 1.5rem;  */
/*  } */
/*} */
.portfolio .portfolio-item {  
  cursor: pointer;  
  position: relative; 
  display: block; 
  max-width: 25rem; 
  border-radius: 0.5rem;  
  overflow: hidden; 
} 
.portfolio .portfolio-item .portfolio-item-caption {  
  position: absolute; 
  top: 0; 
  left: 0;  
  transition: all 0.2s ease-in-out; 
  opacity: 0; 
  background-color: rgba(26, 188, 156, 0.9);  
} 
.portfolio .portfolio-item .portfolio-item-caption:hover {  
  opacity: 1; 
} 
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {  
  font-size: 1.5rem;  
} 
.portfolio-modal .portfolio-modal-title { 
  font-size: 2.25rem; 
  line-height: 2rem;  
} 
/*@media (min-width: 992px) { */
/*  .portfolio-modal .portfolio-modal-title { */
/*    font-size: 3rem;  */
/*    line-height: 2.5rem;  */
/*  } */
/*} */
.portfolio-modal .close { 
  position: absolute; 
  z-index: 1; 
  right: 1.5rem;  
  top: 1rem;  
  font-size: 3rem;  
  line-height: 3rem;  
  color: #1abc9c; 
  opacity: 1; 
} 
.floating-label-form-group {  
  position: relative; 
  border-bottom: 1px solid #e9ecef; 
} 
.floating-label-form-group input, 
.floating-label-form-group textarea { 
  font-size: 1.5em; 
  position: relative; 
  z-index: 1; 
  padding-right: 0; 
  padding-left: 0;  
  resize: none; 
  border: none; 
  border-radius: 0; 
  background: none; 
  box-shadow: none !important;  
} 
.floating-label-form-group label {  
  font-size: 0.85em;  
  line-height: 1.764705882em; 
  position: relative; 
  z-index: 0; 
  top: 2em; 
  display: block; 
  margin: 0;  
  transition: top 0.3s ease, opacity 0.3s ease; 
  opacity: 0; 
} 
.floating-label-form-group:not(:first-child) {  
  padding-left: 14px; 
  border-left: 1px solid #e9ecef; 
} 
.floating-label-form-group-with-value label { 
  top: 0; 
  opacity: 1; 
} 
.floating-label-form-group-with-focus label { 
  color: #1abc9c; 
} 
form .row:first-child .floating-label-form-group {  
  border-top: 1px solid #e9ecef;  
} 
.footer { 
  padding-top: 5rem;  
  padding-bottom: 5rem; 
  background-color: #2c3e50;  
  color: #fff;  
} 
.copyright {  
  background-color: #1a252f;  
}

a.footerlink{
  color: #1c1a2a;
}
.btn-primary {
  background-color: #1c1a2a;
  border-color: #1c1a2a;
}
.btn-primary:hover {
  border-color: #1c1a2a;
}
.btn-primary:focus, .btn-primary.focus {
  border-color: #1c1a2a;
}
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #1c1a2a;
  border-color: #1c1a2a;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  background-color: #1c1a2a;
}
.btn-secondary {
  background-color: #121212;
  border-color: #121212;
}
.btn-secondary.disabled, .btn-secondary:disabled {
  background-color: #121212;
  border-color: #121212;
}
.btn-info{
  background-color: #128193;
  border-color: #128193;
}
.btn-info:hover{
  background-color: #0f6978;
  border-color: #0d616f;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle{
  background-color: #0d616f;
  border-color: #0c5965;
}
.btn-success{
  background-color:#186429;
  border-color: #165c26;
}
.btn-success:hover {
    background-color: #1a6c2c;
    border-color: #186429;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #186429;
    border-color: #165c26;
}
.btn-outline-primary {
  color: #1c1a2a;
  border-color: #1c1a2a;
}
.btn-outline-primary:hover {
  background-color: #1c1a2a;
  border-color: #1c1a2a;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #1c1a2a;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  background-color: #1c1a2a;
  border-color: #1c1a2a;
}
.btn-outline-secondary, .btn-outline-secondary:hover {
  color: #1e4151;
  border-color: #1e4151;
}
.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #1e4151;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  background-color: #1e4151;
  border-color: #1e4151;
}
.btn-link {
  color: #1c1a2a;
}
.btn-lg, .btn-group-lg > .btn {
  border-radius: 0.5rem;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #1c1a2a;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #1c1a2a;
  background-color: #1c1a2a;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  border-color: #1c1a2a;
  background-color: #1c1a2a;
}
.custom-range::-webkit-slider-thumb, .custom-range::-moz-range-thumb, .custom-range::-ms-thumb {
  background-color: #1c1a2a;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #1c1a2a;
}
.navbar-brand img{
  max-width: 42px;
}
.page-link {
  color: #1c1a2a;
}
.page-item.active .page-link {
  background-color: #1c1a2a;
  border-color: #1c1a2a;
}
.badge-primary, a.badge-primary:hover, a.badge-primary:focus {
  background-color: #1c1a2a;
}
.badge-secondary {
  background-color: #121212;
}
.progress-bar {
  background-color: #1c1a2a;
}
.list-group-item.active {
  background-color: #1c1a2a;
  border-color: #1c1a2a;
}
.bg-primary {
  background-color: #1c1a2a !important;
}
a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #1c1a2a !important;
}
.bg-secondary {
  background-color: #121212 !important;
}
.border-primary {
  border-color: #1c1a2a !important;
}
.border-secondary {
  border-color: #121212 !important;
}
.pt-3,
.py-3 {
  padding-top: .5rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: .5rem !important;
}
.text-primary {
  color: #e5e7e9 !important;
}
.text-secondary {
  color: #e5e7e9 !important;
}
.page-section .page-section-heading {
  font-size: 1.25rem;
  line-height: 1rem;
}
.divider-custom .divider-custom-line {
  background-color: #e5e7e9;
  border-color: #121212 !important;
}
.divider-custom .divider-custom-icon {
  color: #e5e7e9 !important;
}
#mainNav {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover, a.pool-link:hover,
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus,
#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #1abc9c;
}
.masthead {
  padding-top: calc(1rem + 74px);
  padding-bottom: 4rem;
}
.portfolio-modal .close {
  color: #1c1a2a;
}
.floating-label-form-group-with-focus label {
  color: #1c1a2a;
}
.footer {
  background-color: #121212;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#priceHolder{
    display: inline-block;
    line-height: 1.4rem;
}
.curPrice_USD{
    display: block;
}
#curPrice_DOGE{
    vertical-align: top;
}

::selection {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  -webkit-touch-callout: none !important;
  -khtml-user-select: none !important;
}

.support-content {
  min-height: 300px;
  max-width: 500px;
  border: 1px solid #4a6c7d;
  margin: 0px auto;
  padding: 20px;
  border-radius: .5rem;
}
.support-content .fa {
  font-size: 2rem;
}
.support-content .heading {
  font-size: 1.2rem;
}

.project{
  margin-top:0px !important;
  text-align:center;
}
.team-item {
  height: 310px;
  padding: 20px 30px;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  color: #e5e7e9;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 0 5px 15px 0 rgba(194, 188, 210, 0.2);
  box-shadow: 0 5px 15px 0 rgba(194, 188, 210, 0.2);
}

#our-team .item {
  width: 350px;
  height: 330px;
  margin-left: 20px;
}


/* .team-item */

.owl-theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px;
}

.team-item {
  background: #1c1a2a;
}




.team-item .desc {
    text-align: left;
    width: 100%;
    font-size: 14px;
    margin-top: 30px;
    font-weight: 600;
    /* color: #e5e7e9; */
    line-height: 20px;
    background: linear-gradient(180deg, #edeffe 0%, #1c1a2a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.team-item:hover {
  background: #86c7fd;
  -webkit-text-fill-color: #081B21;
}
.team-item:hover .body span {
  border: 1px solid #081B21;
  border-radius: 15px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 6px;
  font-weight: 600;
}
.team-item:hover .desc {
    -webkit-text-fill-color: #081B21;
}

.team-item .img {
  display: inline-block;
  margin-bottom: 30px;
  border-radius: 50%;
  padding: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 2px dashed #edeffe;
}

.team-item .img img {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}

.team-item .body h6 {
  margin-bottom: 6px;
  font-size: 40px;
}

.team-item .body span {
  border: 1px solid #e5e7e9;
  border-radius: 15px;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 6px;
  font-weight: 600;
}

.roadmap {
  width:100%;
  height:600px;
  background-position:top;
  background-size:auto 1080px;
  background-repeat:no-repeat;

 }
.roadmap-bg {
  margin-left:58px;
  height:600px;
  margin-top:40px;
  background-image:url(../img/roadmap/roadmap-path.png);
  background-position:0 0;
  background-size:auto 100%;
  background-repeat:no-repeat
 }
.roadmap-content {
  width:1302px;
  height:326px;
    position:absolute;
 }
.time {
  opacity:1;
  cursor:pointer
}
.time.active {
  opacity:1
}
.time.active .name{
  color:#46b069
}
.time .desc,
.time .name,
.time img{
  position:absolute
}
.time img{
  width:42px;
  cursor:pointer
}
.time .name{
  font-size:18px
}
.time .desc p{
  font-size:14px;
  line-height:24px;
  text-indent:-1em
}
.time.time1 img{
  top:330px;
  left:140px
 }
.time1 .name{
  top:240px;
  left:0px
 }
.time1 .desc{
  top:280px;
  left:-50px;
  width:310px
}
.time2 img{
  top:330px;
  left:400px
}
.time2 .name{
  top:400px;
  left:330px
}
.time2 .desc{
  top:440px;
  left:290px;
  width:350px
}
.time3 img{
  bottom:190px;
  left:480px
}
.time3 .name{
  bottom:280px;
  left:340px
}
.time3 .desc{
  top:50px;
  left:280px;
  width:200px
}
.time4 img{
  top:180px;
  left:800px
 }

.time4 .name{
  top:240px;
  left:800px
 }
.time4 .desc{
  top:280px;
  left:760px;
  width:380px
 }


 .video{
 width:100%;
 height:50%;
 object-fit:cover;
 }

.ecology-item{
  font-size: 16px;
  padding: 4px 0 0 10px;
  position: relative;
  
 }
.ecology-border{
  border-radius: 20px;
  border:3px solid #1abc9c;
  padding: 10px;
  height:500px;
}
.ecology-title{
  font-size:25px; 
  line-height:1em;
  font-size:25px;
  color:white;
  font-style:normal;
  letter-spacing:0em;

}
.ecology-content{
  font-size: 1.25rem; 
  line-height: 1.5;
  font-weight:300;
  font-style:normal;
  color:#e5e7e9;
  vertical-align: baseline;
  margin-top: 30px;
  margin-right: 20px;
}
#ecology-img img{
  position: relative;
  right: 0%;
  bottom: 0%;
}
 ul.col1{
   background-image: url(../img/partner/class-heco.png);
    content: "";
    width: 110px;
    height: 300px;
    background-size: 50%;
    background-position: top;
    background-repeat: no-repeat;
    opacity: .8;
  
 }
 ul.col2{
  background-image: url(../img/partner/class-eth.png);
   content: "";
   width: 110px;
   height: 300px;
   background-size: 50%;
   background-position: top;
   background-repeat: no-repeat;
   opacity: .8;
 
}
ul.col3{
  background-image: url(../img/partner/class-bsc.png);
   content: "";
   width: 110px;
   height: 300px;
   background-size: 50%;
   background-position: top;
   background-repeat: no-repeat;
   opacity: .8;
 
}
ul.col4{
  background-image: url(../img/partner/class-neo.png);
   content: "";
   width: 110px;
   height: 300px;
   background-size: 50%;
   background-position: top;
   background-repeat: no-repeat;
   opacity: .8;
 
}
.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
  display: inline-block;
  width: 260px;
  height: 300px;
  border-radius: 20px;
  font-size: 16px;
  padding: 4px 0 0 40px;
  position: relative;
  font-family: fontDemiBold;
    
}

.exchanges-group {
  display: flex;
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
}

.ng-star-inserted{
    margin-left:20px;
margin-top: 20px;
}
a{
  color:white;
  font-family: fontDemiBold;
}
a:hover{
  color:#1abc9c;
  text-decoration: none;
}